<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 3</title>
</head>

<body>
    <div id="app">
        <h1>Сортировка статей по тэгам</h1>
        <button v-for="button in buttons" :key="button.id" @click="sortByTag">{{ button.name }}</button>
        <div>
            <product v-for="product in filteredProducts" :key="product.id" :product="product"></product>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js "></script>
    <script src="comp.js"></script>
    <script>
        new Vue({
            el: '#app',
            sortedProducts: [],
            data: {
                buttons: [{
                    id: 1,
                    name: 'Kitchen',
                    tagname: 'Kitchen'
                }, {
                    id: 2,
                    name: 'Bedroom',
                    tagname: 'Bedroom'
                }, {
                    id: 3,
                    name: 'Building',
                    tagname: 'Building'
                }, {
                    id: 4,
                    name: 'Architecture',
                    tagname: 'Architecture'
                }, {
                    id: 5,
                    name: 'Kitchen Planning',
                    tagname: 'Kitchen Planning'
                }, ],
                products: [{
                    id: 6,
                    name: 'Kitchen design',
                    image: 'product1.jpg',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis harum odit mollitia facere porro adipisci eos! Quae natus perferendis doloremque.',
                    tag: 'Kitchen'
                }, {
                    id: 7,
                    name: 'Bedroom design better',
                    image: 'product1.jpg',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis harum odit mollitia facere porro adipisci eos! Quae natus perferendis doloremque.',
                    tag: 'Bedroom'
                }, {
                    id: 8,
                    name: 'Kitchen design',
                    image: 'product1.jpg',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis harum odit mollitia facere porro adipisci eos! Quae natus perferendis doloremque.',
                    tag: 'Kitchen'
                }, {
                    id: 9,
                    name: 'Buildings design the best',
                    image: 'product1.jpg',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis harum odit mollitia facere porro adipisci eos! Quae natus perferendis doloremque.',
                    tag: 'Building'
                }, {
                    id: 10,
                    name: 'Bedroom design better',
                    image: 'product1.jpg',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis harum odit mollitia facere porro adipisci eos! Quae natus perferendis doloremque.',
                    tag: 'Bedroom'
                }, {
                    id: 11,
                    name: 'Buildings design the best',
                    image: 'product1.jpg',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis harum odit mollitia facere porro adipisci eos! Quae natus perferendis doloremque.',
                    tag: 'Building'
                }, {
                    id: 12,
                    name: 'New Architecture',
                    image: 'product1.jpg',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis harum odit mollitia facere porro adipisci eos! Quae natus perferendis doloremque.',
                    tag: 'Architecture'
                }, {
                    id: 13,
                    name: 'Kitchen planning design',
                    image: 'product1.jpg',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis harum odit mollitia facere porro adipisci eos! Quae natus perferendis doloremque.',
                    tag: 'Kitchen Planning'
                }, {
                    id: 14,
                    name: 'New Architecture',
                    image: 'product1.jpg',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis harum odit mollitia facere porro adipisci eos! Quae natus perferendis doloremque.',
                    tag: 'Architecture'
                }, {
                    id: 15,
                    name: 'Bedroom design better',
                    image: 'product1.jpg',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis harum odit mollitia facere porro adipisci eos! Quae natus perferendis doloremque.',
                    tag: 'Bedroom'
                }, {
                    id: 16,
                    name: 'Kitchen planning design',
                    image: 'product1.jpg',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis harum odit mollitia facere porro adipisci eos! Quae natus perferendis doloremque.',
                    tag: 'Kitchen Planning'
                }]
            },
            computed: {
                filteredProducts() {
                    if (sortedProducts.length) {
                        return sortedProducts;
                    } else {
                        return this.products;
                    }
                }
            },
            methods: {
                sortByTag(tag) {
                    this.sortedProducts = [];
                    this.products.map(function(item) {
                        return sortedProducts;
                    })
                }
            }
        });
    </script>

</body>

</html>